.categoriesContainer {
  margin-top: -40rem;
}

.categoriesTitle {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.cardImage{
	width: 31rem;
	height: 34rem;
	object-fit: cover;
	border-radius: 16px;
}

.categoriesDiv{
	margin-top: 6rem;
	display: flex;
	padding: 0 6.5rem;
	justify-content: space-around;
	row-gap: 2rem;
	flex-wrap: wrap;
	
}

.categoryDiv{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	cursor: pointer;
	width: auto;
	height: auto;
}

.categoryDiv:hover{
	
	.carTitle{
	transition: 0.5s;
	border-bottom: 1px solid black;
	}
	
}


.carTitle{
	font-size: 1.5em;
	font-weight: 500;
	border-bottom: 1px solid transparent;
}